@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');


body{
    background-color: antiquewhite;
}

*{
    margin: 0;
    padding: 0;
}

nav{
   font-family:'Ubuntu',sans-serif; 
}
nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 60px;
    background-color: black;
    color: white;
}
nav ul li{
    padding: 12px;
}

.brand img{
    width: 43px;
    height: 40px;
    padding: 8px;;
}

.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    color:hsl(120, 50%, 75%);    
}

.container{
    min-height: 75vh;
}


.bottom{
    position: sticky;
    height: 100px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;

}

#myProgressBar{
    width:80vh ;
    text-align: center;
}
